/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00657f;
  --ion-color-primary-rgb: 0, 101, 127;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005970;
  --ion-color-primary-tint: #1a748c;

  /** secondary **/
  --ion-color-secondary: #bfbfbf;
  --ion-color-secondary-rgb: 191, 191, 191;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a8a8a8;
  --ion-color-secondary-tint: #c5c5c5;

  /** tertiary **/
  --ion-color-tertiary: #808080;
  --ion-color-tertiary-rgb: 128, 128, 128;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #717171;
  --ion-color-tertiary-tint: #8d8d8d;

  /** success **/
  --ion-color-success: #7fd300;
  --ion-color-success-rgb: 127, 211, 0;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #70ba00;
  --ion-color-success-tint: #8cd71a;

  --ion-color-light_success: #ecf8d9;
  --ion-color-light_success-rgb: 236, 248, 217;
  --ion-color-light_success-contrast: #000000;
  --ion-color-light_success-contrast-rgb: 0, 0, 0;
  --ion-color-light_success-shade: #d0dabf;
  --ion-color-light_success-tint: #eef9dd;

  /** warning **/
  --ion-color-warning: #f6c645;
  --ion-color-warning-rgb: 246, 198, 69;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d8ae3d;
  --ion-color-warning-tint: #f7cc58;

  /** danger **/
  --ion-color-danger: #d9525e;
  --ion-color-danger-rgb: 217, 82, 94;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bf4853;
  --ion-color-danger-tint: #dd636e;

  /** light danger **/
  --ion-color-light_danger: #f9e5e7;
  --ion-color-light_danger-rgb: 249, 229, 231;
  --ion-color-light_danger-contrast: #000000;
  --ion-color-light_danger-contrast-rgb: 0, 0, 0;
  --ion-color-light_danger-shade: #dbcacb;
  --ion-color-light_danger-tint: #fae8e9;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #808080;
  --ion-color-medium-rgb: 128, 128, 128;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #717171;
  --ion-color-medium-tint: #8d8d8d;

  /** light **/
  --ion-color-light: #bfbfbf;
  --ion-color-light-rgb: 191, 191, 191;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a8a8a8;
  --ion-color-light-tint: #c5c5c5;

  /** current **/
  --ion-color-current: #66bff9;
  --ion-color-current-rgb: 102, 191, 249;
  --ion-color-current-contrast: #000000;
  --ion-color-current-contrast-rgb: 0, 0, 0;
  --ion-color-current-shade: #5aa8db;
  --ion-color-current-tint: #75c5fa;

  /** completed **/
  --ion-color-completed: #68d079;
  --ion-color-completed-rgb: 104, 208, 121;
  --ion-color-completed-contrast: #000000;
  --ion-color-completed-contrast-rgb: 0, 0, 0;
  --ion-color-completed-shade: #5cb76a;
  --ion-color-completed-tint: #77d586;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;

  /** TUR4 **/
  --ion-color-tur4: #d02c5a;
  --ion-color-tur4-rgb: 208, 44, 90;
  --ion-color-tur4-contrast: #ffffff;
  --ion-color-tur4-contrast-rgb: 255, 255, 255;
  --ion-color-tur4-shade: #b7274f;
  --ion-color-tur4-tint: #d5416b;

  /** BIO **/
  --ion-color-bio: #3c89ca;
  --ion-color-bio-rgb: 60, 137, 202;
  --ion-color-bio-contrast: #ffffff;
  --ion-color-bio-contrast-rgb: 255, 255, 255;
  --ion-color-bio-shade: #3579b2;
  --ion-color-bio-tint: #5095cf;

  /** ODO **/
  --ion-color-odo: #659a15;
  --ion-color-odo-rgb: 101, 154, 21;
  --ion-color-odo-contrast: #ffffff;
  --ion-color-odo-contrast-rgb: 255, 255, 255;
  --ion-color-odo-shade: #598812;
  --ion-color-odo-tint: #74a42c;

  /** ATS **/
  --ion-color-ats: #fab100;
  --ion-color-ats-rgb: 250, 177, 0;
  --ion-color-ats-contrast: #000000;
  --ion-color-ats-contrast-rgb: 0, 0, 0;
  --ion-color-ats-shade: #dc9c00;
  --ion-color-ats-tint: #fbb91a;

  /** announcements **/
  --ion-color-announcements: #f4f5f8;
  --ion-color-announcements-rgb: 244, 245, 248;
  --ion-color-announcements-contrast: #000000;
  --ion-color-announcements-contrast-rgb: 0, 0, 0;
  --ion-color-announcements-shade: #d7d8da;
  --ion-color-announcements-tint: #f5f6f9;

  /** background **/
  --ion-color-background: #f3f2f7;
  --ion-color-background-rgb: 243, 242, 247;

  /** text **/
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-step-50: #e7e6eb;
  --ion-color-step-100: #dbdade;
  --ion-color-step-150: #cfced2;
  --ion-color-step-200: #c2c2c6;
  --ion-color-step-250: #b6b6b9;
  --ion-color-step-300: #aaa9ad;
  --ion-color-step-350: #9e9da1;
  --ion-color-step-400: #929194;
  --ion-color-step-450: #868588;
  --ion-color-step-500: #7a797c;
  --ion-color-step-550: #6d6d6f;
  --ion-color-step-600: #616163;
  --ion-color-step-650: #555556;
  --ion-color-step-700: #49494a;
  --ion-color-step-750: #3d3d3e;
  --ion-color-step-800: #313031;
  --ion-color-step-850: #242425;
  --ion-color-step-900: #181819;
  --ion-color-step-950: #0c0c0c;

  --ion-item-background: var(--ion-color-white);
  --ion-item-color: var(--ion-text-color);

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #ffffff;

  --ion-font-family: "Montserrat";
}

@media (prefers-color-scheme: light) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #00657f;
    --ion-color-primary-rgb: 0, 101, 127;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #005970;
    --ion-color-primary-tint: #1a748c;

    --ion-color-secondary: #bfbfbf;
    --ion-color-secondary-rgb: 191, 191, 191;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #a8a8a8;
    --ion-color-secondary-tint: #c5c5c5;

    --ion-color-tertiary: #808080;
    --ion-color-tertiary-rgb: 128, 128, 128;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #717171;
    --ion-color-tertiary-tint: #8d8d8d;

    --ion-color-success: #7fd300;
    --ion-color-success-rgb: 127, 211, 0;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #70ba00;
    --ion-color-success-tint: #8cd71a;

    --ion-color-warning: #f6c645;
    --ion-color-warning-rgb: 246, 198, 69;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d8ae3d;
    --ion-color-warning-tint: #f7cc58;

    --ion-color-danger: #d9525e;
    --ion-color-danger-rgb: 217, 82, 94;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #bf4853;
    --ion-color-danger-tint: #dd636e;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #808080;
    --ion-color-medium-rgb: 128, 128, 128;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #717171;
    --ion-color-medium-tint: #8d8d8d;

    --ion-color-light: #bfbfbf;
    --ion-color-light-rgb: 191, 191, 191;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #a8a8a8;
    --ion-color-light-tint: #c5c5c5;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-color-background: #f3f2f7;
    --ion-color-background-rgb: 243, 242, 247;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-color-step-50: #e7e6eb;
    --ion-color-step-100: #dbdade;
    --ion-color-step-150: #cfced2;
    --ion-color-step-200: #c2c2c6;
    --ion-color-step-250: #b6b6b9;
    --ion-color-step-300: #aaa9ad;
    --ion-color-step-350: #9e9da1;
    --ion-color-step-400: #929194;
    --ion-color-step-450: #868588;
    --ion-color-step-500: #7a797c;
    --ion-color-step-550: #6d6d6f;
    --ion-color-step-600: #616163;
    --ion-color-step-650: #555556;
    --ion-color-step-700: #49494a;
    --ion-color-step-750: #3d3d3e;
    --ion-color-step-800: #313031;
    --ion-color-step-850: #242425;
    --ion-color-step-900: #181819;
    --ion-color-step-950: #0c0c0c;

    --ion-item-background: var(--ion-color-white);
    --ion-item-color: var(--ion-text-color);

    --ion-card-background: #ffffff;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-color-background: #f3f2f7;
    --ion-color-background-rgb: 243, 242, 247;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-color-step-50: #e7e6eb;
    --ion-color-step-100: #dbdade;
    --ion-color-step-150: #cfced2;
    --ion-color-step-200: #c2c2c6;
    --ion-color-step-250: #b6b6b9;
    --ion-color-step-300: #aaa9ad;
    --ion-color-step-350: #9e9da1;
    --ion-color-step-400: #929194;
    --ion-color-step-450: #868588;
    --ion-color-step-500: #7a797c;
    --ion-color-step-550: #6d6d6f;
    --ion-color-step-600: #616163;
    --ion-color-step-650: #555556;
    --ion-color-step-700: #49494a;
    --ion-color-step-750: #3d3d3e;
    --ion-color-step-800: #313031;
    --ion-color-step-850: #242425;
    --ion-color-step-900: #181819;
    --ion-color-step-950: #0c0c0c;
  }
}

.ion-color-light_success {
  --ion-color-base: var(--ion-color-light_success);
  --ion-color-base-rgb: var(--ion-color-light_success-rgb);
  --ion-color-contrast: var(--ion-color-light_success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light_success-contrast-rgb);
  --ion-color-shade: var(--ion-color-light_success-shade);
  --ion-color-tint: var(--ion-color-light_success-tint);
}

.ion-color-light_danger {
  --ion-color-base: var(--ion-color-light_danger);
  --ion-color-base-rgb: var(--ion-color-light_danger-rgb);
  --ion-color-contrast: var(--ion-color-light_danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light_danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-light_danger-shade);
  --ion-color-tint: var(--ion-color-light_danger-tint);
}

.ion-color-current {
  --ion-color-base: var(--ion-color-current);
  --ion-color-base-rgb: var(--ion-color-current-rgb);
  --ion-color-contrast: var(--ion-color-current-contrast);
  --ion-color-contrast-rgb: var(--ion-color-current-contrast-rgb);
  --ion-color-shade: var(--ion-color-current-shade);
  --ion-color-tint: var(--ion-color-current-tint);
}

.ion-color-completed {
  --ion-color-base: var(--ion-color-completed);
  --ion-color-base-rgb: var(--ion-color-completed-rgb);
  --ion-color-contrast: var(--ion-color-completed-contrast);
  --ion-color-contrast-rgb: var(--ion-color-completed-contrast-rgb);
  --ion-color-shade: var(--ion-color-completed-shade);
  --ion-color-tint: var(--ion-color-completed-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-tur4 {
  --ion-color-base: var(--ion-color-tur4);
  --ion-color-base-rgb: var(--ion-color-tur4-rgb);
  --ion-color-contrast: var(--ion-color-tur4-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tur4-contrast-rgb);
  --ion-color-shade: var(--ion-color-tur4-shade);
  --ion-color-tint: var(--ion-color-tur4-tint);
}

.ion-color-bio {
  --ion-color-base: var(--ion-color-bio);
  --ion-color-base-rgb: var(--ion-color-bio-rgb);
  --ion-color-contrast: var(--ion-color-bio-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bio-contrast-rgb);
  --ion-color-shade: var(--ion-color-bio-shade);
  --ion-color-tint: var(--ion-color-bio-tint);
}

.ion-color-odo {
  --ion-color-base: var(--ion-color-odo);
  --ion-color-base-rgb: var(--ion-color-odo-rgb);
  --ion-color-contrast: var(--ion-color-odo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-odo-contrast-rgb);
  --ion-color-shade: var(--ion-color-odo-shade);
  --ion-color-tint: var(--ion-color-odo-tint);
}

.ion-color-ats {
  --ion-color-base: var(--ion-color-ats);
  --ion-color-base-rgb: var(--ion-color-ats-rgb);
  --ion-color-contrast: var(--ion-color-ats-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ats-contrast-rgb);
  --ion-color-shade: var(--ion-color-ats-shade);
  --ion-color-tint: var(--ion-color-ats-tint);
}

.ion-color-announcements {
  --ion-color-base: var(--ion-color-announcements);
  --ion-color-base-rgb: var(--ion-color-announcements-rgb);
  --ion-color-contrast: var(--ion-color-announcements-contrast);
  --ion-color-contrast-rgb: var(--ion-color-announcements-contrast-rgb);
  --ion-color-shade: var(--ion-color-announcements-shade);
  --ion-color-tint: var(--ion-color-announcements-tint);
}
